html {
  font-size: 15px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  color: #000088;
  text-decoration: underline;
}

.note {
  font-size: 12px;
  color: #FF3333;
}

.map {
  border: 2px #EEEEEE solid;
  position:absolute;top:50px;
  left:300px;
}